@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Pro', "Serif";
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #efe1e9;
}
.wrapper{
  position: absolute;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 2px 2px 28px rgba(0,0,0, .4);
}
.wrapper h2{
    font-size: 32px;
    font-weight: 595;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    background: #7a2b67;
}
.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;
}
.cards .card{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(27, 3, 11, 0.25);
  transition: transform 0.25s linear;
  border: 3px solid #954382;
}
.card .front-view img{
  width: 19px;
}
.card .back-view img{
  max-width: 45px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}
.card.flip .front-view{
  transform: rotateY(180deg);
}

@media (max-width:400px){
    .wrapper{
        width: 82%;
        margin-top: calc(-100%/4);
        margin-left: -5px;
    }  
    .wrapper h2{
        font-size: 28px;
      }
      .cards, .card, .view{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cards{
        height: 245px;
        width: 245px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .cards .card{
        height: calc(100% / 4 - 9px);
        width: calc(100% / 4 - 9px);
      }
}